.error {
  color: red;
}

.invalid {
  font-weight: bold;
  color: #cc0000;
}

.invalid input {
  border: 1px solid #cc0000;
}

.reveal {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.highlight{
  font-weight: bold;
}

h1 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  text-align: center;
}

h2 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  text-align: center;
}

h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  text-align: center;
}

h4 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  text-align: center;
}

h5 {
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: center;
}

p {
  text-align: center;
}

div {
  text-align: center;
}

form {
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: center;
}

input#zip {
  display: inline;
  width: 5rem;
}
